<div >
  <div style="float: left">
    <div class="button_holder">
      <button mat-button>Join or Login</button>
    </div>
    <div class="button_holder">
      <button mat-button>Events</button>
    </div>
    <div class="button_holder">
      <button mat-button>Contacts</button>
    </div>
  </div>
  <div style="float: right">
    <img src="https://static.wixstatic.com/media/cc8436_ef1d7615a476467d939ada5facc1f7d9~mv2.png/v1/fill/w_393,h_118,al_c,usm_0.66_1.00_0.01/cc8436_ef1d7615a476467d939ada5facc1f7d9~mv2.png" >
  </div>
</div>
