button {
  background-color: #A0BEDC;
}
.upper_content {
  width: 100%;
  margin-top: 2%;
  padding-bottom: 2%;
  padding-left: 33%;
  border: solid #A0BEDC 2px;
}
.left_col {
  float: left;
  margin: 5%;
  display: inline-grid;
}

.right_col {
  float: left;
  width: 35%;
  margin: 5%;
  margin-left: 2.5%;
  display: -ms-inline-grid;
  display: inline-grid;
  position: fixed;
  margin-top: 0;
}

.form_content {
  width: 100%;
  margin-top: 2%;
}

.submit_register {
  float: right;
  margin-right: 38%;
}

.button_holder {
  width: 50%;
  margin-top: 5%;
}
.button_text {
  color: #003CA0;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
