button {
  background-color: #A0BEDC;
}
.upper_content {
  width: 100%;
  margin-top: 2%;
  margin-left: 45%;
}
.left_col {
  float: left;
  margin: 5%;
  display: inline-grid;
}

.right_col {
  float: left;
  margin: 5%;
  display: inline-grid;
}

.form_content {
  width: 100%;
  margin-left: 28%;
  margin-top: 2%;
}

.submit_register {
  float: right;
  margin-right: 38%;
}
